GAMEVORTEX_AI_ENV="development"
GAMEVORTEX_AI_SERVER_KEY=""

GAMEVORTEX_CHAT_MODEL="gamevortex-chat"
GAMEVORTEX_CHAT_BACKEND_URL=""

GAMEVORTEX_IMAGE_MODEL="gamevortex-image"
GAMEVORTEX_IMAGE_BACKEND_URL=""

GAMEVORTEX_VIDEO_MODEL="gamevortex-video"
GAMEVORTEX_VIDEO_BACKEND_URL=""

GAMEVORTEX_AI_REQUEST_TIMEOUT_SECONDS="300"
GAMEVORTEX_AI_MAX_CONCURRENT_JOBS="1"
